<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Runner.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Runner.Config>
            <setting name="Console" serializeAs="String">
                <value>.\..\..\nunit\nunit3-console.exe</value>
            </setting>
            <setting name="Tests" serializeAs="String">
                <value>.\..\..\..\Tests\bin\Debug\Tests.dll</value>
            </setting>
        </Runner.Config>
    </userSettings>
</configuration>